

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: normal;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: nowrap;
}
.book .book-header h1 {
  opacity: 1;
  text-align: left;
}
textarea {
    width: 300px;
}
input[type="text"] {
    width: 300px;
}

html, body {
  margin:0px;
  height:100%;
  width: 100%;
}



p {
  font-family: Helvetica Neue; font-size: 15px; color: black; width: 100%; 
}

pre code {
  white-space: nowrap;
}



li {
  font-family: Helvetica Neue; font-size: 15px; color: black; width: 100%;
}

li:first-child {
    margin-top: 0px;
}

li.a {
  list-style-type: square; margin-top: 100px;

}

ul.a {
  list-style-type: square; margin-top: 100px;
}



textarea {
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
}
